<div class="w-full max-w-md sm:max-w-lg md:max-w-2xl mx-auto mt-6 md:mt-10 p-4 md:p-6 bg-white shadow-lg rounded-xl hover:shadow-lg hover:shadow-gray-500 ease-in-out duration-500">
  <h2 class="text-lg md:text-xl font-semibold mb-4 text-gray-700 text-center">Create a contact</h2>

  <form class="grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-6" (ngSubmit)="onSubmit()">
    <div class="md:col-span-2">
      <label for="name" class="block text-sm font-medium text-gray-600">Name</label>
      <input
        type="text" id="name" name="name" [(ngModel)]="newContact.contactName"
        class="mt-1 block w-full rounded-lg border-gray-300 focus:border-blue-500 focus:ring focus:ring-blue-200 p-2"
        placeholder="Ex: Souleymane Seck" required>
    </div>

    <div>
      <label for="email" class="block text-sm font-medium text-gray-600">Email</label>
      <input
        type="email" id="email" name="email" [(ngModel)]="newContact.contactEmail"
        class="mt-1 block w-full rounded-lg border-gray-300 focus:border-blue-500 focus:ring focus:ring-blue-200 p-2"
        placeholder="Ex: example@email.com" required>
    </div>

    <div>
      <label for="phone" class="block text-sm font-medium text-gray-600">Phone</label>
      <input
        type="tel" id="phone" name="phone" [(ngModel)]="newContact.contactPhone"
        class="mt-1 block w-full rounded-lg border-gray-300 focus:border-blue-500 focus:ring focus:ring-blue-200 p-2"
        placeholder="Ex: +221 77-777-77-77">
    </div>

    <div class="md:col-span-2 flex flex-col md:flex-row gap-3">
      <button
        type="submit"
        class="w-full md:flex-1 bg-slate-900 text-white p-2 rounded-lg shadow hover:bg-slate-600 transition">
        Add a contact
      </button>
    </div>
  </form>
</div>
