/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply bg-slate-800
}

@layer utilities {
  .loader {
    @apply w-12 h-12 p-2 rounded-full bg-slate-300 animate-loader;

    -webkit-mask: conic-gradient(#0000 10%, #000),
                  linear-gradient(#000 0 0) content-box;
    mask: conic-gradient(#0000 10%, #000),
          linear-gradient(#000 0 0) content-box;
    -webkit-mask-composite: source-out;
            mask-composite: subtract;
  }
}
